<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.savysoda.wordtournament"        
        version   = "1.0.0"> 

    <name>WordTournament</name>
	
	<description>
        Word Tournament
    </description>

    <author href="http://www.savysoda.com" email="xin@savysoda.com">
        Xin Zhao
    </author>
	
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none"/>
	
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />	
	<icon src="icons/bb/icon.png" gap:platform="blackberry" />
	<icon src="icons/winphone/icon.png" gap:platform="winphone" />
	<icon src="icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
	<icon src="icons/webos/icon.png" gap:platform="webos" />
	<icon src="icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" />		
	
</widget>